is_global = true

# 生成所有 Part 类型的强类型类（默认 true）
build_property.OpenXmlGenerator.GenerateParts = true
# 生成命名空间常量（默认 true）
build_property.OpenXmlGenerator.GenerateNamespaces = true
# 生成 Schema 类（默认 true）
build_property.OpenXmlGenerator.GenerateSchema = true
# 生成 LINQ-to-XML 支持（默认 false）
build_property.OpenXmlGenerator.GenerateLinq = false
